.product_container {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(140 145 163 / 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    transition: all .25s ease-in-out;
    background: var(--filter-bar-bg);
}

.image_container {
    flex: 1 1;
}

.image_container img {
    object-fit: contain;
    background: #fff;
    border-radius: 10px;
}

.prod_details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.prod_name {
    color: var(--primary-color);
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 8px 0;
}

.prod_price {
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
}

.prod_price p {
    /* color: #224957; */
    font-weight: 700;
    margin: 0;
}

.add_btn {
    background: #7064e5;
    /* border: 1px solid #7064e5; */
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    padding: .75rem 0;
    transition: all .3s ease-in-out;
    width: 50%;
    width: 100%;
    cursor: pointer;
}

.btn_pair {
    display: flex;
    width: 100%;
    gap: 2px;
    justify-content: space-around;
}