.filter_caintainer {
    /* background: #f0f0fc; */
    background: var(--filter-bar-bg);
    border-radius: 10px;
    left: 0;
    padding: 1rem;
    position: fixed;
    text-align: center;
    top: 30%;
    width: 12rem;
}

.filter_caintainer h2 {
    color: var(--primary-color);
    font-size: 1.25em;
    font-weight: 700;
}

.price_range {
    background-color: #7064e5;
    border-radius: 4px;
    cursor: pointer;
    height: 6px;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 90%;
}

.category_container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

[type=checkbox] {
    border-radius: .25rem;
    height: 1rem;
    margin-right: .5rem;
    width: 1rem;
}

.filter_btn {
    width: 70%;
    margin: 20px 10px 5px;
    padding: 9px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #5856d6;
    color: white;
    /* font-family: monospace; */
}

.filter_btn:hover {
    background-color: #7064e5;
    cursor: pointer;
}